.main {
    width: 60%;
    padding: 50px 10px;
    margin: 10% 20%;
  }
  
  #blog-title{
    border-top: 1px solid gray;
    border-bottom: 0.1px solid gray;
    padding: 5px 0;
    font-size: 30px;
  }
  
  #blog-contents{
    border-top: 2px solid gray;
    padding: 30px 10px 100px;
  }

  .blog-arrow{
    padding: 10px 0 2px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
  }
  
  .blog-archives{
    position: fixed;
    width: 70%;
    top: 80px;
    left: 3%;
  }

  .blog-archives h1{
    padding: 0px 2px 4px 4px;
    font-size: 20px;
    color: black;
  }

  .blog-archive-list ul {
    list-style: none;
    font-size: 10px;
    color: black;
  }

  .blog-comments{
    position: fixed;
    width: 15%;
    height: 50%;
    top: 80px;
    right: 3%;
  }

  .blog-comments h1{
    font-size: 20px;
    padding: 0px 2px 4px 4px;
    color: black;
  }

  .commentbox{
    border: 2px solid grey;
    border-radius: 10px;
  }

  .inputbox{
    height: 20%;
    width: 99%;
    padding-top: 2px;
    padding-left: 3px;
    bottom: 2px;
    border-bottom: 1px solid grey;
    float: left;
  }

  textarea{
    width: 55%;
    height: 60%;
    border-radius:10px;
    box-shadow: none;
    padding: 2px 8px;
    margin-top: 1%;
  }

  .outputbox{
    height: 75%;
    padding: 1px;
    overflow: scroll;
  }

  .outputboxs{
    width: 90%;
    height: 60%;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1px 3px;
    margin: 3px 0;
  }

  .outputboxs h1{
    font-size: 5px;
  }
